@import url(https://fonts.googleapis.com/css?family=Caveat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* GROW CHART V3 CSS */

/* TESTING ONLY */
#grc{
	max-width: 1248px;
	margin: 0 auto;
}
/* END TESTING */


#grc{
	color: #4C2276;
	font-family: 'Open Sans', sans-serif;
}

	/*----------------------------
	GENERIC ITEMS
	----------------------------*/
	.grc-button{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #E1E0E6;
		display: inline-block;
		padding: 7px;
		margin: 0 5px;
		color: white;
	}
		.grc-button .grc-button-icon{
			height: 1em;
			width: 1em;
			display: inline-block;
			background-color: black;
			vertical-align: middle;
			margin-right: 0.5em;
		}
	
	/*----------------------------
	SPECIFIC
	----------------------------*/
	#grc-input{
		text-align: center;
		margin-bottom: 15px;
	}
	
		/*------------------------
		BUTTONS
		------------------------*/
		#grc-chart-button{
			background-color: #64A70A;
		}
		#grc-buy-button{
			background-color: #F15B29;
		}
		#grc-article-button{
			background-color: #554744;
		}
	
	/*------------------------------------------------------
	SLIDER
	------------------------------------------------------*/
	#grc-scroll{
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		overflow: auto;
	}
		/*------------------------
		CONTROLS
		------------------------*/
		#grc-scroll-controls{
			position: absolute;
			z-index: 100;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
			#grc-scroll-controls > *{
				pointer-events: initial;
			}
			/* buttons */
			.grc-scroll-button{
				position: absolute;
				top: 50%;
				left: 0;
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				width: 10%;
				height: 100%;
				/*background-color: #4C2776;*/
				max-height: 100%;
				cursor: pointer;
				background-color: rgba(255,255,255,1);
			}
				/* add the < for the scroll buttons using CSS */
				.grc-scroll-button:after{
					position: absolute;
					content:"";
					width: 20%;
					padding-top: 20%;
					border-left: 5px solid #4C2776;
					border-bottom: 5px solid #4C2776;
					-ms-transform: rotate(45deg); /* IE 9 */
					-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
					transform: rotate(45deg);
					top: 40%;
					transition: 0.1s all ease-in-out;
				}
				#grc-scroll-right{
					right: 0;
					left: initial;
				}
					#grc-scroll-right:after{
						-ms-transform: rotate(225deg); /* IE 9 */
						-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
						transform: rotate(225deg);
					}
						#grc-scroll-left:hover:after{
							-ms-transform: rotate(45deg) scale(1.1);
							-webkit-transform: rotate(45deg) scale(1.1);
							transform: rotate(45deg) scale(1.1);
						}
						#grc-scroll-right:hover:after{
							-ms-transform: rotate(225deg) scale(1.1);
							-webkit-transform: rotate(225deg) scale(1.1);
							transform: rotate(225deg) scale(1.1);
						}
			/*scrollbar*/
			#grc-scroll-bar{
				display: none; /* hidden for now as a stretch goal */
				position: absolute;
				bottom: 0;
				left: 10%;
				width: 80%;
				height: 10px;
				background-color: #F0EDF4;
				cursor: pointer;
			}
				#grc-scroll-bar-bobbet{
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					height: 10px;
					width: 10px;
					background-color: #582C83;
				}
		/*------------------------
		ELEMENTS
		------------------------*/
		#grc-scroll-element-container{
			position: relative;
			top: 0;
			left: 10%;
			width: 80%;
			padding-top: 20%;
			text-align: left;
			margin-bottom: 10px;
			overflow: hidden;
		}
			.grc-scroll-plant{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 20%;
				height: 100%;
				cursor:pointer;
				font-size: 18px;
				-ms-transition: 0.5s left ease-in-out;
				-webkit-transition: 0.5s left ease-in-out;
				transition: 0.5s left ease-in-out;
			}
			.grc-scroll-plant.active,
			.grc-scroll-plant.active .grc-scroll-plant-img{
				background-color: #D8EBCB;
			}
			
			.grc-scroll-plant:hover,
			.grc-scroll-plant:hover .grc-scroll-plant-img{
				background-color: #D1C9DE;
			}

				.grc-scroll-plant-img{
					position: absolute;
					top: 0;
					width: 100%;
					height: calc(100% - 1em);
					background-image: url("http://i1.adis.ws/i/wgc/veg000?w=250");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					background-blend-mode: multiply;
				}
				.grc-scroll-plant-title{
					font-family: 'Caveat', cursive;
					position: absolute;
					bottom: 0;
					height: 1em;
					padding-bottom: 0.5em;
					font-size: 1em;
					width: 100%;
					text-align: center;
				}
		
	
	/*----------------------------
	PRINT CHART
	----------------------------*/
	#grc-output{
		border-top: 3px solid #E1E0E6;
	}
		#grc-result-title{
			float: left;
		}
		#grc-print{
			float: right;
		}
		
		#grc-table{
			display: block;
			overflow: auto;
			width: 100%;
		}
			.grc-row{
				width: 100%;
				overflow: auto;
				margin-bottom: 2px;
			}
				.grc-row .grc-cell{
					position: relative;
					overflow: hidden;
					width: 7.69%;
					height: 40px;
					float: left;
					background-color: #EBE8F1;
				}
				.grc-row .grc-cell:nth-of-type(even){
					background-color: #D1C9DE;
				}
				
				/* HEADER SPECIFIC */
				#grc-top-row .grc-cell:before{
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					ms-transform: translateX(-50%)translateY(-50%);
					webkit-transform: translateX(-50%)translateY(-50%);
					transform: translateX(-50%)translateY(-50%);
				}
					#grc-top-row .grc-cell:nth-of-type(2):before{content:"Jan";}
					#grc-top-row .grc-cell:nth-of-type(3):before{content:"Feb";}
					#grc-top-row .grc-cell:nth-of-type(4):before{content:"Mar";}
					#grc-top-row .grc-cell:nth-of-type(5):before{content:"Apr";}
					#grc-top-row .grc-cell:nth-of-type(6):before{content:"May";}
					#grc-top-row .grc-cell:nth-of-type(7):before{content:"Jun";}
					#grc-top-row .grc-cell:nth-of-type(8):before{content:"Jul";}
					#grc-top-row .grc-cell:nth-of-type(9):before{content:"Aug";}
					#grc-top-row .grc-cell:nth-of-type(10):before{content:"Sep";}
					#grc-top-row .grc-cell:nth-of-type(11):before{content:"Oct";}
					#grc-top-row .grc-cell:nth-of-type(12):before{content:"Nov";}
					#grc-top-row .grc-cell:nth-of-type(13):before{content:"Dec";}
					
				
				
				
				
				
				
				
				
				
				
				
				
				
				